
__pycache__/script.cpython-310.pyc
.gitattributes
Chapter 1/
Chapter 2/
Chapter 3/
Chapter 4/
Chapter 5/
Chapter 6/
Chapter 7/
Roshidere.txt
bruh.epub
pandoc.exe
Roshidere.epub
test.py
Old/
Pictures/
Testing/
__pycache__/
Cbse/
seishun/
Kumar/
Prologue/
Misc/
